# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out
# Debugger config
*.json
#precompiled headers
*.gch
# macroflags
*macro_flags
# log and csv files
*.log
*.csv
# MP-SPDZ directories
Bytecodes
Schedules